.group-child {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 8px 24px 6px rgba(0, 0, 0, 0.3);
  border-radius: 54px;
  background-color: var(--color-white);
  width: 339px;
  height: 543px;
}
.group-item {
  position: absolute;
  top: 26px;
  left: 25px;
  border-radius: 25px;
  width: 289px;
  height: 216px;
  object-fit: cover;
}
.vector-icon {
  position: absolute;
  height: 5.89%;
  width: 9.44%;
  top: 67.03%;
  right: 12.39%;
  bottom: 27.07%;
  left: 78.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.price-ksh40000,
.product-name {
  width: 315px;
  position: relative;
  display: inline-block;
  height: 54px;
  flex-shrink: 0;
}
.price-ksh40000 {
  width: 220px;
  font-size: 1.375rem;
  line-height: 150%;
  font-weight: 500;
  height: 32px;
}
.product-name-parent {
  position: absolute;
  top: 254px;
  left: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  font-size: 2.25rem;
}
.label {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.label-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.available-items-57,
.field {
  position: absolute;
  left: 12px;
  height: 32px;
}
.field {
  top: 364px;
  box-shadow: var(--button-shadow);
  border-radius: var(--br-base);
  background-color: #ecebeb;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  width: 236px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  color: #828282;
  font-family: var(--body-text);
}
.available-items-57 {
  top: 408px;
  font-size: 1rem;
  line-height: 150%;
  font-weight: 200;
  display: inline-block;
  width: 162px;
}
.buttons1 {
  position: relative;
  font-weight: 500;
}
.buttons {
  position: absolute;
  top: 452px;
  left: 12px;
  border-radius: var(--br-base);
  background-color: #3760ee;
  width: 321px;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  color: var(--color-white);
}
.rectangle-parent {
  width: 100%;
  position: relative;
  height: 543px;
  text-align: left;
  font-size: var(--body-text-size);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
